<%= form_for(@safe) do |f| %>
  <% if @safe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safe.errors.count, "error") %> prohibited this safe from being saved:</h2>

      <ul>
      <% @safe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
