<h1>Listing saves</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @saves.each do |safe| %>
      <tr>
        <td><%= link_to 'Show', safe %></td>
        <td><%= link_to 'Edit', edit_safe_path(safe) %></td>
        <td><%= link_to 'Destroy', safe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Save', new_safe_path %>
